.services {
    background-color: #FFFFFF;
    padding: 60px 0;

    &__title {
        text-align: center;
        margin-bottom: 40px;
        font-size: 24px;
        color: #2a2a2a;

        &--little {
            max-width: 100%;
            color: #2a2a2a;
            font-size: 16px;
            font-weight: 500;
            justify-self: flex-start;
            align-self: flex-start;
        }
    }

    &__icon {
            max-width: 60px;
            max-height: 60px;
            flex-shrink: 0;
    }

    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        grid-gap: 20px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        grid-gap: 12px;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
        padding: 16px;
        &--wrap {
            display: flex;
            align-items: center;
            grid-gap: 20px;
            margin: auto 0;
            max-width: 100%;
        }
    }

    &__description {
        color: #777777;
        font-size: 15px;
        word-wrap: break-word;
    }
}

@media screen and (min-width:768px) {
    .services {
        padding: 60px 0;

        &__title {
            font-size: 28px;
        }

        &__item {
            width: 45%;
        }
    }
}

@media screen and (min-width:1024px) {
    .services {
        padding: 80px 0;

        &__title {
            font-size: 45px;
        }

        &__list {
            grid-column-gap: 20px;
            grid-row-gap: 45px;

        }

        &__item {
            width: 45%;
            min-height: auto;
        }
    }
}