.staff {
    padding: 40px 0;
    background-color: #FFFFFF;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        grid-gap: 20px;
    }
    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        color: #EF9600;
    }

    &__description {
        font-weight: 400;
        font-size: 15px;
        line-height: 17px;
        color: #000000;
    }

    &__price {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
    }

    &__button {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        background-color: #EF9600;
        border-radius: 35px;
        border: none;
        outline: none;
        padding: 14px 36px;
    }

    &__item {
        position: relative;
        
        &--background {
            & img {
                max-width: 100%;
            }
        }
        &--wrap {
            background: linear-gradient(269.5deg, rgba(0,212,255,0) 30%, rgba(255,255,255,1) 100%, rgba(2,0,36,1) 100%);
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 24px;
        }
        &--inner {
            padding: 24px;
            max-width: 280px;
            background-color: #FFFFFF;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            grid-gap: 16px;
        }
    }

}

@media screen and(max-width: 700px) {
    .staff {
        &__title {
            font-size: 16px;
            line-height: 17px;
        }

        &__description {
            font-size: 15px;
            line-height: 16px;
        }

        &__button {
            font-size: 16px;
            line-height: 17px;
            padding: 8px 12px;
        }

        &__item {
            &--inner {
                // max-width: none;
                padding: 12px;
                grid-gap: 8px;
            }
            &--wrap {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media screen and(max-width: 400px) {
    .staff {

        &__item {
            &--wrap {
                padding: 8px;
                position: inherit;

            }

            &--background {
                display: none;
            }

            &--inner {
                background-color: #e5e5e5;
            }
        }
    }
}