.category {
    padding: 40px 0;
    background-color: #E5E5E5;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        grid-gap: 20px;
    }
    
    &__item {
        background-color: #FFFFFF;
        background-image: url(/assets/src/img/povar.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: auto;
        width: 320px;
        min-height: 323px;
        position: relative;
        padding: 20px 38px 20px 20px;
        border-radius: 6px;
        box-shadow: 0px 0px 12px 4px rgba(34, 60, 80, 0.2);
        transition: all .3s;
        &:hover {
            transform: scale(1.05);
        }
        & img {
            max-width: 100%;
            position: absolute;
            bottom: 0;
            right: 0;
        }
        &:not(:last-child):not(:first-child) {
            & p {
                max-width: 190px;
            }
        }
        & p {
            margin-top: 12px;
            font-weight: 400;
            font-size: 15px;
            line-height: 22.5px;
            // max-width: 190px;
        }
        & h3 {
            font-weight: 700;
            font-size: 20px;
            line-height: 23px;
            opacity: .9;
            color: #2E363E;
        }
    }
}

@media screen and (min-width:768px) {
    .category {
        padding: 60px 0;

        
    }
}

@media screen and (min-width:1024px) {
    .category {
        padding: 80px 0;

        &__container {
            grid-gap: 50px;
        }
    }
}