.problems {
    position: relative;
    padding: 40px 0;
    background-color: #E5E5E5;
    overflow: hidden;

    &__container {
        z-index: 10;
    }

    &__background {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
        overflow: hidden;
    }

    &__star {
        &--gray {
            position: absolute;
            bottom: 0;
            left: -60px;
            transform: rotate(210deg);
            z-index: 0;
            max-width: 80%;
        }

        &--orange {
            position: absolute;
            top: 30%;
            right: 0;
            z-index: 0;
            overflow: hidden;
        }
    }

    &__list {
        margin-top: 60px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-row-gap: 20px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid #E2EAF2;
        border-radius: 8px;
        z-index: 1;
        background-color: #FFFFFF;
        padding: 24px;
        width: 90%;
        justify-content: center;

        & svg {
            flex-shrink: 0;
        }
    }

    &__description {
        max-width: 260px;
        color: #2E363E;
        font-weight: 300;
        font-size: 14px;
        text-align: center;
    }

    &__title {
        color: #292929;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: center;
        position: relative;
        z-index: 1;

        &--little {
            font-weight: 400;
            font-size: 20px;
            color: #2E363E;
            text-align: center;
            margin: 24px 0;
        }

        &--yellow {
            color: #292929;
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 20px;
            z-index: 1;
            text-align: center;
            & span {
                color: #EF9600;
            }
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -20px;
            left: 0;
            background: linear-gradient(to left, #E5E5E5 0%, #fcb81d 100%);
            height: 5px;
            width: 100%;
            border: none;
            border-radius: 5px;
            outline: none;
            z-index: 1;
        }
    }
}

@media screen and (min-width:768px) {
    .problems {
        padding: 60px 0;

        &__title {
            font-size: 28px;

            &--yellow {
                font-size: 28px;
            }
        }

        &__list {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            grid-column-gap: 20px;
        }

        &__item {
            width: 45%;
            min-height: 240px;
        }
    }
}

@media screen and (min-width:1024px) {
    .problems {
        padding: 80px 0;

        &__title {
            font-size: 36px;
            text-align: start;
            &--yellow {
                font-size: 36px;
                text-align: start;
            }
        }

        &__list {
            grid-column-gap: 20px;
            grid-row-gap: 45px;

        }

        &__item {
            width: 30%;
            min-height: auto;
        }
    }
}