.advantages {
    background-color: #f3f3f3;
    padding: 40px 0;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 40px;
    }

    &__title {
        color: #292929;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: center;

        &--little {
                opacity: 0.9;
                color: #000000;
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 8px;
        }
    }

    &__description {
        opacity: 0.6;
        color: #000000;
        font-size: 16px;
        font-weight: 400;
    }

    &__photo {
        & img {
            max-width: 100%;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        margin-left: 48px;
        position: relative;
        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &::before {
            content: url(/assets/src/img/check_icon.png);
            position: absolute;
            left: -48px;
        }
    }
    &__left {
        display: flex; 
        flex-direction: column;
    }
}

@media screen and (min-width:768px) {
    .advantages {
        padding: 60px 0;

        &__title {
            font-size: 28px;
            margin-bottom: 40px;

            &--little {
                font-size: 20px;
                margin-bottom: 12px;
            }
        }

        &__description {
            font-size: 20px;
        }

        &__item {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
}

@media screen and (min-width:1024px) {
    .advantages {

        &__title {
            text-align: start;
        }

        &__container {
            flex-direction: row;
            justify-content: space-between;
        }
        &__left {
            max-width: 60%;
        }
    }
}