.tasks {
    padding: 40px 0;

    &__title {
        color: #292929;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    &__underline {
        background: linear-gradient(to left, #f7f9fb 0%, #fcb81d 100%);
        height: 5px;
        border: none;
        border-radius: 5px;
        outline: none;
        margin: 20px 0;
        z-index: 1;
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        padding: 40px 0;
        grid-gap: 20px;
        width: 100%;
    }

    &__item {
        padding: 20px;
        box-shadow: 3px 4px 27px rgba(0, 0, 0, 0.08);
        width: 100%;
        transition: all .3s;

        &:hover {
            cursor: pointer;
            box-shadow: 3px 4px 27px rgba(0, 0, 0, 0.3);
        }
        & summary {
            position: relative;
            margin-left: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            grid-gap: 20px;

            & svg {
                flex-shrink: 0;
                opacity: .4;
                & path {
                    fill: #584446;
                }
            }

            & h4 {
                opacity: 0.9;
                color: #292929;
                font-size: 16px;
                font-weight: 700;
            }

            &::before {
                content: url(/assets/src/img/check_icon.png);
                position: absolute;
                left: -48px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        & p {
            padding: 20px 40px 0 40px;
            color: #ffffff;
            font-size: 14px;
            font-weight: 400;
        }

        &[open] {
            background-color: #fcb81d;
            & h4 {
                color: #ffffff;
            }
            & svg {
                transform: rotate(180deg);
                opacity: 1;
                & path {
                    fill: #ffffff;
                }
            }
        }
    }
}


@media screen and (min-width:768px) {
    .tasks {
        padding: 60px 0;

        &__title {
            font-size: 28px;
        }
    }
}

@media screen and (min-width:1024px) {
    .tasks {

        &__title {
            font-size: 36px;
        }
    }
}