.trust {
    padding: 40px 0;
    background-color: #E5E5E5;
    overflow: hidden;

    &__title {
        color: #292929;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: center;
        position: relative;
        z-index: 1;

        &::after {
            content: '';
            position: absolute;
            bottom: -20px;
            left: 0;
            background: linear-gradient(to left, #E5E5E5 0%, #fcb81d 100%);
            height: 5px;
            width: 100%;
            border: none;
            border-radius: 5px;
            outline: none;
            z-index: 1;
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 85px;
        grid-gap: 20px;
    }
}

@media screen and (min-width:768px) {
    .trust {
        padding: 60px 0;

        &__title {
            font-size: 28px;
        }
    }
}

@media screen and (min-width:1024px) {
    .trust {

        &__title {
            font-size: 36px;
            text-align: start;
        }

        &__list {
            justify-content: space-between;
            grid-gap: 56px;
        }
    }
}